@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Montserrat", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.form-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.form-content {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  transition: 1.6s ease-in-out;
  z-index: 6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: all .4s .8s;
}

form.sign-in-form {
  z-index: 2;
}

form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

form .title {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.input-field {
  max-width: 380px;
  width: 100%;
  position: relative;
  margin: 0.7rem 0;
  background-color: #f0f0f0;
  height: 3.4rem;
  border-radius: 3.4rem;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;

  i {
    text-align: center;
    line-height: 3.4rem;
    font-size: 1.1rem;
    color: #acacac;
  }

  input {
    background: none;
    width: 95%;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    color: #333;
    font-size: 1.1rem;

    &::placeholder {
      color: #aaa;
    }
  }
}

.forgot-password {
  color: #333;
  text-align: center;
  width: 100%;
  text-decoration: none;
  margin-bottom: 1.2rem;
  transition: 0.25s ease;

  &:hover {
    color: #f3722c;
  }
}

.btn {
  background-color: #f3722c;
  height: 3rem;
  width: 10rem;
  border: none;
  outline: none;
  border-radius: 3.4rem;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease;

  &:hover {
    background-color: #f8961e;
    cursor: pointer;
  }
}

.social-title {
  color: #333;
  margin: 1.2rem 0;
  font-size: 1rem;
}

.social-content {
  display: flex;

  .social-media-auth {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    border-radius: 50%;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    transition: 0.25s ease;

    &:hover {
      color: #f3722c;
      border-color: #f3722c;
    }
  }
}

.container:before {
  content: "";
  background: linear-gradient(#f8961e, #f3722c);
  height: 2000px;
  width: 2000px;
  position: absolute;
  border-radius: 50%;
  right: 50%;
  transform: translateY(-55%);
  transition: 1.6s ease-in-out;
  z-index: 9;
}

/** Text Contant **/

.image {
  width: 100%;
}

.text-content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content h2 {
    margin-bottom: 1rem 0;
  }

  .image {
    width: 80%;
  }

  .content p {
    margin: 1rem 0;
  }

  .btn.transparant {
    border: 2px solid #fff;
    background: none;
    margin-bottom: 2rem;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    z-index: 10;
    transition-delay: 0.6s;
    
    .content, .image {
      transition: transform 0.9s ease-in-out;
    }
  }
  
  .right-content {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    transition-delay: 0.6s;

    .content,
    .image {
      transform: translateX(800px);
      transition: transform 0.9s ease-in-out;
    }
  }
}

/** Animation **/

.container.sign-up-mode::before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode {
  .form-content {
    transform: translateX(-100%);
  }

  .right-content {
    z-index: 10;
  }

  .left-content {
    z-index: 5;
  }

  .right-content .image {
    transform: translateX(0%);
  }
  .right-content .content {
    transform: translateX(0%);
  }

  .left-content .content,
  .left-content .image {
    transform: translateX(-800px);
  }

  form.sign-in-form {
    z-index: 1;
    opacity: 0;
  }
  
  form.sign-up-form {
    z-index: 2;
    opacity: 1;
  }
}
